
/* Webkit browsers (Chrome, Safari, Edge) */
.ctm-scroll-2px::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.ctm-scroll-2px::-webkit-scrollbar-track {
  background: #dadada;                         /* Gray track */
}

.ctm-scroll-2px::-webkit-scrollbar-thumb {
  background-color: #007bff;                /* Blue thumb */
}


.creatMessage .varient-btn-hover:hover svg path {
    fill: white;
}
.creatMessage .varient-btn-hover:hover svg.stroke-only path{
    stroke: #fff;
    fill: transparent;
}

.creatMessage .varient-btn-hover-selected  svg path {
    fill: white !important; 

}
.creatMessage .varient-btn-hover-selected svg.stroke-only path{
    stroke: #fff !important;
    fill: transparent !important;
}

.creatMessage .pros-dropdownCont {
    box-shadow: -2px 4px 6.3px 0px #00000040;
}
.creatMessage  .pros-dropdownWrap:hover .pros-dropdownCont {
    opacity: 1;
    visibility: visible;
}
.creatMessage .normalIconHover {
    display: none;
}
.creatMessage .pros-dropdownItems:hover .normalIcon {
    display: none;
}
.creatMessage .pros-dropdownItems:hover .normalIconHover {
    display: block;
}

 .previeMessage .varient-btn-hover:hover svg path {
    fill: white;
}
 .previeMessage .varient-btn-hover:hover svg.stroke-only path{
    stroke: #fff;
    fill: transparent;
}

.ctm-search .anticon-search svg {
    color: #8C8E8F;
    width: 20px;
    height: 20px;
}
.ctm-search input.ant-input {
    font-family: 'Outfit';
    letter-spacing: .25px;
    font-size: 16px;
    color: #8C8E8F;
}
.ant-table-content {
    overflow-x: auto;
}
.ant-table-content th.ant-table-cell span {
    line-height: 1.1;
    white-space: nowrap;
}
.custom-table .ant-table-thead th.ant-table-cell {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border: none !important;
    border-radius: 0 !important;
    color: #000407;
    font-weight: 400;
    text-align: center;
}
.custom-table .ant-table-thead th.ant-table-cell svg {
    width: 14px;
}
.custom-table .ant-table-thead th.ant-table-cell::before {
    opacity: 0;
}

.custom-table .ant-table-thead th.ant-table-cell svg path {
    stroke: rgb(0 4 7 / 50%);
}
.custom-table .ant-table-tbody td.ant-table-cell {
    border: none !important;
}
.custom-table tbody.ant-table-tbody tr.ant-table-row td.ant-table-cell  {
    background: #f5f5f5 !important;
    text-align: center;
    padding: 10px 20px;
}
.custom-table tbody.ant-table-tbody tr.ant-table-row td.ant-table-cell:first-child {
    border-radius: 8px 0 0 8px !important;
}
.custom-table tbody.ant-table-tbody tr.ant-table-row td.ant-table-cell:last-child {
    border-radius: 0 8px 8px 0 !important;
}
.custom-table .ant-table-tbody .ant-table-row >.ant-table-cell-row-hover {
    background: #f5f5f5 !important;
}
.ctm-dot-btn {
    border: none !important;
}
.custom-table table {
    border-collapse: separate;
    border-spacing: 0 10px;
}
.custom-table td.ant-table-cell.ant-table-selection-column {
    padding-left: 18px !important;
    padding-right: 4px !important;
}
.custom-table th.ant-table-cell.ant-table-selection-column {
    padding-left: 18px !important;
    padding-right: 4px !important;
}
.custom-table tbody.ant-table-tbody tr.ant-table-row td.ant-table-cell span {
    font-weight: 400;
    color: #000407;
}
ul.pros-dropdown li {
    height: 44px;
    font-size: 16px !important;
    border-radius: 6px !important;
}

ul.pros-dropdown {
    box-shadow: -5px 6px 6px rgb(0 0 0 / 19%) !important;
    padding: 8px !important;
}

ul.pros-dropdown li span {
    color: rgb(0 0 0 / 75%);
}

ul.pros-dropdown li:hover {
    background: #0087ff !important;
}

ul.pros-dropdown li:hover span {
    color: #fff;
}

.ctm-search .anticon-search svg {
    color: #8C8E8F;
    width: 20px;
    height: 20px;
}
.ctm-search input.ant-input {
    font-family: 'Outfit';
    letter-spacing: .25px;
    font-size: 16px;
    color: #8C8E8F;
    font-weight: 400;
}
.ctm-search input.ant-input::placeholder {
    color: #8C8E8F;
    font-weight: 300;
}
.message-template ul li.text-white span .template-arrow {
    filter: invert(1);
}


