@import "tailwindcss";


.hide_scrollbar {
    scrollbar-width: none; 
}

.hide_scrollbar::-webkit-scrollbar {
    display: none; 
}

.custom-scrollbar {
    scrollbar-width: thin; 
    scrollbar-color: gray transparent;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: gray; 
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-button {
    display: none;
}
