@import "tailwindcss";


.hide_scrollbar {
    scrollbar-width: none; 
}

.hide_scrollbar::-webkit-scrollbar {
    display: none; 
}

.custom-scrollbar {
    scrollbar-width: thin; 
    scrollbar-color: gray transparent;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: gray; 
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-button {
    display: none;
}
.overlayed-actions {
    position: fixed;
    bottom: 90px;
    background: #ffffff;
    padding: 8px 16px;
    display: flex;
    gap: 15px;
    border-radius: 10px;
    left: calc(50% - 180px);
    border: 1px solid rgb(171 171 171 / 40%);
}
.friend-group-btn {
    border-color: rgb(115 82 199 / 50%) !important;
}
.friend-unfriend-btn {
    border-color: #ff000080 !important;
}
.friend-whitelist-btn {
    border-color: rgb(33 191 124 / 50%) !important;
}
.friend-sync-btn {
    border-color: rgb(0 135 255 / 50%) !important;
}
.fb-group-row {
    margin: 5px 0px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    cursor: pointer;
    padding: 6px 16px;
}

span.fb-group-icon {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 4px;
}

.friends-list-blurry .blurry-effect {
    color: gray;
    filter: blur(3px);
}
 .white-spin  .ant-spin-dot-item{
    color: white !important;
}

.backdrop-blur-md {
   backdrop-filter: blur(8px) !important; 

}

.active-mssg{ 
    border: 1px solid #0087FF !important;
    background-color: #0087FF33 !important;
    outline: 1px solid #0087FF !important;
}

.friends-list-bluredBtn {
    position: fixed;
    right: 70px;
    top: 320px;
    z-index: 999;
    text-align: center;
}

.friendlist-addGroup-popup .ant-modal-content {
    padding: 20px !important;
}

.custom-table li.ant-pagination-options {
    position: absolute;
    left: 0px;
    margin-left: 0px;
}
.custom-table li.ant-pagination-options:before {
    content: "Rows per page ";
}

.custom-table li.ant-pagination-options .ant-select{
    margin-left:10px;
}

li.ant-pagination-total-text {
    position: absolute;
    left: 220px;
}

.nova-fb-connected, .nova-ig-connected{
    display: none !important;
}

.disable-confirm-dashboard-btn{
    opacity: 60%;
    pointer-events: none;
}

.sidebar-lang .ant-select-selector {
    border: none !important;
}

.ant-message {
    z-index: 99999 !important;
}

.group-selected-row {
    border: 2px solid #3a3a3a !important;
    border-radius: 4px;
    background-color: #e6f1fb !important;
}

:where(.ant-table) .ant-table-tbody > tr:hover > td {
    background-color: #e6f1fb !important;
    transition: background-color 0.2s ease-in-out;
}

 .w-spinner :where(.css-dev-only-do-not-override-240cud).ant-spin .ant-spin-dot-item {
    background: white !important;
}


/* __________ Start CSS For Prospection Setting Poppup _________ */
.pro-setting-modal .ant-modal-content {
    background: transparent;
    padding: 0;
    box-shadow: none;
}

/* __________ End CSS For Prospection Setting Poppup _________ */

/* __________ Start CSS For Add Note Poppup _________ */
.custom-fb-note-modal-wrap .ant-modal-content {
    background: #F1F2F2 !important;
    padding: 30px;
}
.custom-fb-note-modal-wrap  select:focus-visible {
    outline: none;
}
.custom-fb-note-modal-wrap .hover-text-white:hover {
    color: #fff;
   background: #0087FF;
}
.custom-fb-note-modal-wrap .hover-text-white:hover span {
    color: #fff;
}
.custom-fb-note-modal-wrap .hover-text-white:hover svg path {
    stroke: #fff;
    opacity: 1 !important;
}


/* __________ Start CSS For Add Note Poppup _________ */